.Balance {
  position: absolute;
  top: 0;
  right: 0;

  width: 300px;
  height: 50px;

  border: 2px solid #b9a83c;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #b9a83c;
}
